#icnewfeat.lib

#/FAs
#/Qopt-report9

#/Qopt-prefetch:5

/I..\Lib3
#/I.\Lib
#/I./zstd144
#/I./libpmd

/MP8
/Qoverride-limits

#/DNOASM
/DNDEBUG
#/DCONTEXT=void
#/DPCONTEXT=void*

/wd161
/wd864
/wd94
/wd264
/wd791
/wd47
/wd3199
/wd3920

/MT
/arch:avx
#/arch:ia32
#/QxSSE2
#/QxHOST
#/QxSSE4.2
#/arch:SSE4.1
#/tune:corei7
#/QxN
#/arch:SSSE3
#/QxSSE3

#/D_X86_

#/FAs

#/Og
/Ob2ity
/O3 /Qipo
/GF /GA /GL-
/Gy 
/GS- /GR- 
#/GX-
/EHs-c-a- 
#/EHsc /Qsafeseh-
/Gr
#/Oa
/Qvla
/Qintel-extensions
/Qopt-mem-layout-trans:3
/Qopt-dynamic-align
/Qinline-calloc
/Qfnalign:16
/Qcomplex_limited_range
/Qunroll-aggressive
/Qalias-const
/Qopt-multi-version-aggressive
/Qopt-subscript-in-range
#/Qopt-ra-region-strategy:routine


/Qlong_double
/Qrestrict
/Qvc14.1
/Qstd=c++14

/wd791
/wd1913

#/Qvec_report2

/D_CRT_SECURE_NO_WARNINGS
/D_CRT_SECURE_NO_DEPRECATE
/D_CRT_DISABLE_PERFCRIT_LOCKS
/D_CRT_NONSTDC_NO_DEPRECATE
/D_SECURE_SCL=0
/D_ITERATOR_DEBUG_LEVEL=0
/D_SECURE_SCL_THROWS=0
/D_HAS_ITERATOR_DEBUGGING=0
#/D_HAS_EXCEPTIONS=0
/DVC_EXTRALEAN
#/DWIN32_LEAN_AND_MEAN
#/DWIN32_EXTRA_LEAN
/DSTRICT
/DNDEBUG
/DWIN32
/D_WIN32_WINNT=0x0500
#/D_WIN64
#/D_AMD64_



#/Qip
#/Oa
#/Qip
#/Qipo
#/fast
#/Qip-no-inlining
#/Qip-no-pinlining
#/Qopt-prefetch:4
#/Qprof-psa-use
#/Qalign
#/align
#/Qsfalign16
#/Qfnalign
#/Qnobss-init
#/Qprof-src-root-cwd
#/Qssp

/Qprof-src-dir-
#/Qprof-dir OPT
#/Qprof-gen
#/Qprof-use

/QIfist
#/Qparallel

#/IC:\IntelH0721\include\icc
/IC:\IntelJ2190\include\icc 
#/IC:\IntelH0048\include 
/IC:\VC2019\include
/IC:\VC2019\ucrt\include
/IC:\VC2019\sdk\Include

#/IC:\VC71\include
#/IC:\VC71\INCLUDE1

/link /OPT:REF /OPT:ICF=99 /LARGEADDRESSAWARE /SAFESEH:NO /incremental:no /fixed /base:0x400000

#
#/link /FIXED:NO
#/link /MERGE:.rdata=.data
#/link /MERGE:.data1=.data

#user32.lib
#gdi32.lib
#comctl32.lib
#comdlg32.lib
#advapi32.lib
#shell32.lib
